# Nextflow
.nextflow*
work/
.DS_Store
testing/
testing*

# Test
Project/
data/
figures/
output/
TODO.md

# Data
*.h5ad
*.RDS
*.sqlite
*.pt

# Quarto
notebook_*_files/
notebook_*_cache/
notebook_*.html
tmp/

# Jupyter Notebook
.ipynb_checkpoints
.jupyter_cache/
*.pyc
*.ipynb

# R environments
.Rproj.user
.Rproj
.Rhistory
