# Nextflow
.nextflow*
work/
data/
Project/
.DS_Store
testing/
testing*
*.pyc
*.ipynb
*.sqlite

# Test
test/

# Quarto
notebook_*_files
notebook_*.html

# Jupyter Notebook
.ipynb_checkpoints
.jupyter_cache/
.Rproj.user
.Rproj
