alpine-quarto_1.6.43.sif
.DS_Store
.Rhistory
.nextflow*
work/
results/
figures/
*.RDS
*.rds
*.zip
*.tar.gz
*.sif
_nf-test* # temporary files for nf-test - quarto does not produce _freeze and _report if testdir starts with dot

/.quarto/
