/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {

    // Pipeline inputs
    matrix       = "${launchDir}/test/melanoma_yost_2018.csv"

    notebookA    = "${launchDir}/modules/local/metatime/annotation/step_01.qmd"
    notebookB    = "${launchDir}/modules/local/celltypist/step_02.qmd"
    notebookC    = "${launchDir}/modules/local/sctype/step_03.qmd"

    page_config  = "${launchDir}/assets/template/_quarto.yml"
    template     = "${launchDir}/assets/template/*"

    project_name = "Project"
    outdir       = "${launchDir}"

    skip_python  = false

    // Parameters for each process
    paramA       = "CustomA"
    paramB       = "CustomB"
    paramC       = "CustomC"

}

docker {
    enabled      = true
    fixOwnership = true
}

process {
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode      = 'copy'
    afterScript      = 'rm -rf tmp'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
