/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {

    // Pipeline parameters
    input                   = "${launchDir}/data/Yost_main_cluster_object.RDS"
    cell_mask               = "${launchDir}/data/Yost_main_cell_status.csv"
    outdir                  = "${launchDir}"
    project_name            = "Project"

    // Notebooks path 
    notebook_celltypist     = "${launchDir}/modules/local/celltypist/notebook_celltypist.qmd"
    notebook_sctype_major   = "${launchDir}/modules/local/sctype/major/notebook_sctype_major.qmd"
    notebook_sctype_state   = "${launchDir}/modules/local/sctype/state/notebook_sctype_states.qmd"

    // Cell annotation parameters
    annotation_db = "${launchDir}/assets/cell_markers_database.csv"
    organism      = "Human"

    // scType subset/states parameters
    thr_n_features = 2000
    thr_npcs       = 25
    thr_resolution = 0.25
    
    // Dataflow parameters
    skip_python  = false

    // Quarto requirements
    page_config  = "${launchDir}/assets/template/_quarto.yml"
    template     = "${launchDir}/assets/template/*"

}

docker {
    enabled      = true
    fixOwnership = true
}

process {
    containerOptions = '-u root:root -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode      = 'copy'
    afterScript      = 'rm -rf tmp'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
