/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    withName: 'SCYTPE_MAJOR_ANNOTATION' {
        container = 'ghcr.io/break-through-cancer/scratch-annotation:945c406'
    }
    withName: 'SCYTPE_STATE_ANNOTATION' {
        container = 'ghcr.io/break-through-cancer/scratch-annotation:945c406'
    }
    withName: 'AZIMUTH_ANNOTATION' {
        container = 'ghcr.io/break-through-cancer/scratch-annotation:945c406'
    }
}