// IMPORTANT: Add this configuration to your modules.config

process {

    withName: "HELPER_SEURAT_SUBSET" {
        ext.when = { !params.cell_mask.contains('NO_FILE')}
    }

    withName: "CELLTYPIST_ANNOTATION" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                params.organism ? "organism:${params.organism}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.h5ad',
            mode: 'copy'
        ]
    }

    withName: "SCYTPE_MAJOR_ANNOTATION" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        ext.when = { params.organism == "Human" }
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.RDS|data|figures',
            mode: 'copy'
        ]
    }

    withName: "SCYTPE_STATE_ANNOTATION" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                params.thr_n_features ? "thr_n_features:${params.thr_n_features}" : '',
                params.thr_npc ? "thr_npc:${params.thr_npc}" : '',
                params.thr_resolution ? "thr_resolution:${params.thr_resolution}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        // ext.when = { params.organism == "Human" }
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.RDS|data|figures',
            mode: 'copy'
        ]
    }

    withName: "QUARTO_RENDER_PROJECT" {
        publishDir = [
            path:{ "${params.outdir}/${params.project_name}" },
            mode: 'copy'
        ]
    }

}
