// IMPORTANT: Add this configuration to your modules.config

process {

    withName: "QUARTO_RENDER_PROJECT" {
        publishDir = [
            path:{ "${params.outdir}/${params.project_name}" },
            mode: 'copy'
        ]
    }

    withName: "RLANG_*_METHODS" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                params.organism ? "organism:${params.organism}" : ''
            ].join(' ').trim()
        }
        ext.when = { params.organism == "Human" }
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.RDS',
            mode: 'copy'
        ]
    }

    withName: "CELLTYPIST_ANNOTATION" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                params.organism ? "organism:${params.organism}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.h5ad',
            mode: 'copy'
        ]

    }

    withName: "HELPER_SEURAT_SUBSET" {
        ext.when = { !params.cell_mask.contains('NO_FILE')}
    }

}
